body {
    background-image: url('../images/map2.jpg')
    ;
}
/*navbar styling*/
.image {
    padding: 10px;
}

/*about us styling*/
.img-cont {
    width: 50%;
    float: left;
  }
  
  img {
    height: 25em;
  }
  
  .clearfix {
    clear: left;
  }
  
  .content {
    float: right;
  }

/*search bar styling*/
#searchbar {
    max-width: 50%;
}
input{
    text-align:center;
 }

 .button {
    color: whitesmoke; 
    background-color:#363533;
    border: none;
 }
 .button:hover{
  background-color: #706f6c;   
 }


